<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style='color:green'> <span style='color:red'> Parts </span> <span style='color:red'> of </span> <span style='colour:red'> Australia's </span>
 <span style='colour:red'> east </span> <span style='colour:red'> coast </span> <span style='colour:red'> have </span> <span style='colour:red'> bee
n </span> <span style='colour:red'> hit </span> <span style='colour:red'> by </span> <span style='colour:red'> heavy </span> rain <span style='colou

r:red'> and </span> </h1>
  </body>
</html>
